body {
  background-color: #23252C;
  font-family: 'Inter', sans-serif;
  margin:0 8px;
}

.header {
  text-align:center;
  width:100%;
}

main {
  display:flex;
  gap:20px;
  align-items: center;
  padding-top:20px;
}

.showcase--wrapper {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  max-height:908.969px
}

.business-card--main-content {
  background-color: #1A1B21;
  display:flex;
  flex-direction: column;
  align-items:center;
  padding:30px 50px;
  box-sizing: border-box;
  margin:0;
}

.about--content, .interests--content {
  font-size:12px;
  line-height:16px;
  color:#DCDCDC;
}

h3 {
  size:18px;
  line-height: 28px;
  color:#F5F5F5;
  margin:0;
  font-weight:700;
  margin: 16px 0 4px 0;
}

.business-card {
  width:400px;
  margin:10px 0 10px 20px;
}

.profile-pic {
  width:400px;
  margin:0;
  border-radius: 10px 10px 0 0;
  display:block;
}

.footer {
  width:400px;
  background-color: #161619;
  height:80px;
  border-radius: 0 0 10px 10px;
  display:flex;
  justify-content:center;
  align-items: center;
}

.buttons {
  display:flex;
  gap:30px;
}

.buttons > a > img {
  width:30px;
}

.buttons-wrapper {
  margin-top:20px;
  margin-bottom:10px;
  display:flex;
  justify-content: space-between;
}

.email-logo, .linkedin-logo {
  width:145px;
}

.website {
  text-decoration:none;
  color:#F5F5F5;
  font-size:12px;
}

h1 {
  color:white;
  font-size:25px;
  margin:0;
  font-weight:700;
  padding-bottom:6px;
}

.profession {
  color:#F3BF99;
  margin:0;
  font-size: 14px;
  line-height: 16px;
  padding-bottom:8px;
  font-weight:400;
}

.showcase-card-wrapper {
  width:450px;
  max-height:500px;
  background-color:#1A1B21;
  border-radius:10px;
  color:white;
  margin-bottom:25px;
  overflow:hidden;
}

.card--image-wrapper {
  overflow:hidden;
}

.card--image-wrapper > img {
  border-radius:10px 10px 0 0 ;
  height:250px;
  width:100%;
  object-fit: cover;
  transition: transform .5s ease;
}


.card--links { 
  display:flex;
  justify-content: space-around;
  padding:5px;
}

.card--url, .card--github {
  color: #1A1B21;
  text-decoration: none;
  background-color: #F3BF99;
  padding:10px 20px;
  border-radius: 10px 0 10px 0;
  box-shadow: 2px 2px 1px gray;
  transition-duration:0.1s;
}

.card--url:hover, .card--github:hover {
  box-shadow:none;
  margin-left:2px;
  margin-top:2px;
  margin-bottom:-2px;
  margin-right:-2px;
  transition-duration:0.1s;
}

.card--title {
  font-size: 30px;
  font-weight:bold;
  font-family: 'Caveat', cursive;
  padding-top:10px;
}

.card--text-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card--stacks {
  text-align:center;
  padding:20px 0 30px 0;
}